extends layout

block header
	div.navbar-header.pull-left
		a.btn.btn-default.btn-lg.navbar-btn(href='/')
			span.glyphicon.glyphicon-home  Home
					
block content	
	h1 There has been an error with your request.
	
