extends layout

block header
	div.navbar-header.pull-left
		a.btn.btn-default.btn-md.navbar-btn(href='/')
			span.glyphicon.glyphicon-home  Home		
	div.navbar-header.pull-right	
		a.btn.btn-default.btn-md.navbar-btn#uploadButton(ng-click='upload(responses)')
			span.glyphicon.glyphicon-upload  Upload	
		a.btn.btn-default.btn-md.navbar-btn#saveButton(ng-click='submit(responses, files)')
			span.glyphicon.glyphicon-floppy-disk  Save

block content
	div.alert.alert-success.alert-dismissable(ng-show='successMessage != null') 
		button.close(type='button', data-hide='alert', aria-hidden="true")&times;
		{{successMessage}}
	div.alert.alert-danger.alert-dismissable(ng-show='failureMessage != null') 
		button.close(type='button', data-hide='alert', aria-hidden="true")&times;
		{{failureMessage}}
	form.form-horizontal(role='form')			
		div.form-group.row(ng-repeat='q in questions')
			label.col-xs-4(for='{{q.title}}') {{q.title}}		
			div.col-xs-8(ng-switch, on='q.type')	
				toggle-switch(ng-switch-when='checkbox', model='responses[q.id]')
				input.form-control(ng-switch-when='text', type='text', ng-model='responses[q.id]')						
		input(type='file', accept='image/*;capture=camera')
	p